@import url("../DropdownContent/DropdownContent.css");
.dropdown-btn{
  padding:0.2rem;
  min-width:min-content;
  max-height:2rem;
  display:flex;
  justify-content:center;
  align-items:center;
  max-width:2rem;
  /* background-color:white; */
  border:none;
  border-radius:0.5rem;
  box-shadow: 0px,8px 24px rgb(149,157,165,0.2);
  cursor:pointer;
  height:auto;
}  
.toggle-icon{
    margin-left:0.75rem;
    height:auto;
}
.dropdown-btn:hover .dropdown-content{
  opacity:1;
}